*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Graphik LCG;
}
a{
    text-decoration: none;
    color:black;
}

.mobile__breakers{
    display: none;
}
.container{
    position: relative;
    width: 1280px;
    margin: 0 auto;
}
button:hover{
    cursor: pointer;
}
.header{
    margin: 0 auto 110px;
    padding-top: 42px;
}
.header__logo img{
    display: block;

}
.header__logo__text{
    padding: 5px 0 0 5px;
    font-weight: bold;
    font-size: 20px;
}
.title{
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    text-align: left;
    color: #263238;
}
.header__title{
    font-weight: bold;
    font-size: 52px;
    line-height: 140%;
    text-align: left;
    color: #263238;
}
.header__logo{
    display: flex;
    align-items: center;
    margin-bottom: 146px;
}

.header__title__yellow{
    color:#FEE05C;
    -webkit-text-stroke: 1px #000000;
}
.header__descr{
    margin: 70px 0;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
    width: 900px;
}
.header__descr span{
    font-weight: 700;
    padding-right: 7px;
}
.money5000{
    position: relative;
}
.money800{
    position: relative;

}
.round{
    position: absolute;
    width: 90%;
    top: -20px;
    left: 4px;
    z-index: -1;
}
.round800{
    position: absolute;
    width: 90%;
    top: -16px;
    left: 4px;
    z-index: -1;
}
.header__side__text{
    width: 290px;
    height: 143px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 12px;
    padding-top: 30px;
    text-align: center;
    background-image: url("../img/cloud.svg");
}

.header__side__man{
    position: absolute;
    right: 0;
    /* width: 335px; */
    bottom:0px;
}
.header__side__man_mobile{
    display: none;
}
.header__side__man img{
   display: block; 
   width: 100%;
}
.long{
    width: 285px;
    height: 60px;
    background-color: #FEE05C;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 600;
}

.towho {
    background-repeat: no-repeat;
    width: 100%;
    height: 940px;
    padding-top: 62px;
}
.towho__container{
    display: flex;
    padding: 60px 0 0 113px;
    gap: 220px;
    row-gap: 70px;
    flex-wrap: wrap;
    position: relative;
}
.towho__text{
    width: 313px;
    height: 300px;
    background-image: url('../img/Ellipse.svg');
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.towho__text p{
    padding-right: 10px;
    text-align: center;
    width: 260px;
    display: block;
}
.towho__text:first-child{
    margin-left: 215px;
}
.towho__bg{
    position: absolute;
    left: -90px;
    top: -140px;
    z-index: -2;
}
.towho__lines{
    position: absolute;
    left: -22px;
    top: -100px;
    z-index: -1;
}
.towho__bg_mobile{
    display: none;
}

.about{
    margin: 150px auto 0;
}
.about__wrapper{
    margin-top: 70px;
    display: flex;
}
.about__container__left{
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
}
.about__descr{
    width: 450px;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
}
.about__cross{
    display: flex;
    flex-wrap: wrap;
}

.about__cross__elem{
    width: 315px;
    height: 215px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.about__cross__elem_title{
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items:end;
    justify-content: center;
    margin-bottom: 15px;
}
.about__cross__elem_descr{
    font-size: 24px;
}
.about__cross__elem:first-child{
    background-image: url("../img/cross-bg1.svg");
}
.about__cross__elem:last-child{
    background-image: url("../img/cross-bg2.svg");
}

.coaches{
    margin: 172px auto 0;
    position: relative;
}
.coaches__descr{
    padding-left: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 320px;
    top:-50px;
    background-image: url("../img/coaches-bg.svg");
    background-repeat: no-repeat;
    width: 375px;
    height: 120px;
    font-family: 'Roboto', sans-serif;
    line-height: 140%;
    font-size: 20px;
}
.line{
    position: absolute;
    left: 700px;
    top: -140px;
}
.coaches__cards{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    height: 420px;
    position: relative;
    align-items: center;
}

.coaches__card{
    display: none;
    width: 100%;
    height: 402px;
    border: 1px solid;
    border-radius: 20px;
    transition: all 0.1s;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.coaches__card_main{
    display: flex;
    width: 414px;
}
.coaches__card_main .coaches__card__descr{
    height: 70%;
    border-top: 1px dashed black;
    background-color: #F6F5F2;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
    padding: 15px 27px;
    z-index: -1;
}
.coaches__card__title{
    font-size: 30px;
    line-height: 125%;
    font-weight: 600;
    width: 70%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-left: 16px;
    gap: 19px;
}

.coaches__cards button{
    position: absolute;
}
.prev{
    left: 341px
}
.next{
    right: 345px;
}
.coaches__card_sidecard{
    position: absolute;
    opacity: 0.6;
    display: flex;
    width: 313px;
    height: 313px;
}

.coaches__card_sidecard .coaches__card__descr{
    height: 70%;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 18px;
    padding: 10px 16px;

}
.coach_left{
    left: 0px;
}
.coach_right{
    right: 0px;
}
.coaches__card_sidecard .coaches__card__title{
    font-size: 24px;
    gap:9px;
}
.coaches__card_sidecard .card__img img{
    width: 70px;
    height: 70px;
}
.hidden{
    display: none;
}
.card__img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn{
    display: block;
    height: 570px;
    position: relative;
    margin: 230px auto 0;
    padding: 20px 40px;

}
.learn__bg{
    position: absolute;
    left: -90px;
    top: -70px;
    z-index: -1;
}
.learn__bg__mobile{
    display: none;
}
.learn__container{
    margin: 0 auto;
    width: 1280px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.learn__descr{
    width: 45%;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
}
.learn__incl__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-align: left;
    color:#FEE05C;
    -webkit-text-stroke: 1px #000000;
    margin-bottom: 40px; 
}
.learn__incl__elem{
    line-height: 150%;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.learn__incl__elem span{
    font-weight: bold;
}

ol {
  list-style: none;
  counter-reset: counter;
}
ol li {
  counter-increment: counter;
  margin-bottom: 23px;
}
ol li::before {
  content: counter(counter);
  width: 42px;
  height: 42px;
  -webkit-text-stroke: 0.5px black;
  border: 1px solid black;
  border-radius: 100%;
  font-weight: bold;
  font-size: 36px;
  line-height: 125%;
  color:#FEE05C;
  -webkit-text-stroke: 1px #000000;
  text-align: center;
}
.preflop{
    color:#0C6A54;
    text-decoration: underline;
}
.postflop{
    color: #6376A8;
    text-decoration: underline;
}
.review{
    margin-top: 150px;
    position: relative;
    overflow: hidden;
}

.review__elem{
    width: 100%;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    gap: 64px;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    font-size: 20px;
    margin: 70px 0 50px;
    transition: all 1s;
}
.left{
    /* display: none; */
    top: 57px;
    left:-1000px;
    opacity: 0;
}
.right{
    /* display: none; */
    top: 57px;
    left: 2000px;
    opacity: 0;
}
.review__elem_main{
    position: relative;
    left: 0;
}
.review__card{
    width: 367px;
    height: 245px;
    padding: 20px 40px;
    background-image: url("../img/bg/card.png");
}
.review__elem span{
    font-weight: 600;
}

.review__descr{
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 24px;
    width:65%;
}
.review__buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}


.prev{
    width: 50px;
    height: 50px;
    background-image: url("../img/buttons/prev.svg");
    border:none;
    background-color: #fff;
}
.next{
    width: 50px;
    height: 50px;
    background-image: url("../img/buttons/next.svg");
    border:none;
    background-color: #fff;
}

.prev__filled{
    background-image: url("../img/buttons/prev-filled.svg");
}
.next__filled{
    background-image: url("../img/buttons/next-filled.svg");
}

.rocket{

    height: 590px;
    position: relative;
    z-index: -1;
}
.rocket .container{
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 37px;
    position: relative;
}
.rocket__title{
    margin-top: 70px;
    text-align: center;
    width: 100%;
}
.rocket button{
    background-color: #fff;
}
.rocket__bg{
    position: absolute;
    /* left: -90px; */
    top: 20px;
    z-index: -1;
}
.rocket__bg__mobile{
    display: none;
}

.footer__wrapper{
    height: 270px;
    width: 1401px;
    /* overflow: hidden; */
    margin: 0 auto;
}
.footer{
    position: relative;
    padding-top: 75px;
}
.footer .container{
    position: relative;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;

}
.footer__bg_wr{
    position: absolute;
    width: 1358px;
    overflow: hidden;
    top: -280px;

}
.footer__bg{
    z-index: -1;
}



.footer__bg__mobile{
    display: none;
}
.footer__elem{
    width: 25%;
    z-index: 2;
    padding: 0 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 11px;
}
.footer__elem__title__img{
    width: 32px;
}

.footer__elem__title{
    display: flex;
    gap: 5px;
    font-size: 21px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 20px;
}
.footer__elem__link{
    font-size: 14px;
    line-height: 150%;
}
.footer__elem_img{
    width: 25px;
    display: flex;
    justify-content: center;
}

.footer__elem__link_bold{
    font-weight: bold;
}
.footer__elem__link{
    display: flex;
    align-items: center;
    gap: 5px;
}
@media (max-width: 1280px){
    .container{
        width: 340px;
        overflow: hidden;
    }
    .title{
        font-size: 22px;
    }
    .header{
        padding-top: 17px;
        width: 350px;
    }
    .header .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__logo{
        margin-bottom: 35px;
        top:22px;
        left: 0;
    }
    .header__logo img{
        width: 21px;
    }
    .header__logo__text{
        padding: 5px 0 0 5px;
        font-weight: bold;
        font-size: 16px;
    }
    .header__title{
        margin-top: 34px;
        font-size: 24px;
    }
    .header__title__yellow{
        font-size: 22px;
    }
    .header__side__text{
        display: none;
    }
    .header__side__man{
        display: none;
    }
    .header__side__man_mobile{
        display: block;
        margin-top: 40px;
    }
    .header__descr{
        width: 100%;
        font-size: 16px;
        margin:  0 0 30px;
    }
    .header__descr__add{
        display: none;
    }
    .header__descr span{
        font-weight: 700;
        padding: 0px;
    }
    .header__descr img{
        display: none;
    }
    .long{
        width: 285px;
        height: 60px;
        background-color: #FEE05C;
        border-radius: 8px;
        font-size: 22px;
        font-weight: 600;
    }
    .towho{
        position: relative;
        z-index: 23;
        padding-top: 60px;
        height: 662px;
        width:350px;
        overflow: hidden;
        margin: 0 auto;
    }
    .towho__bg{
        display: none;
    }
    .towho__lines{
        display: none;
    }
    .towho__bg_mobile{
        display: block;
        position: absolute;
        top: -90px;
        left:-160px;
        z-index: -1;
    }
    .towho__text{
        width: 160px;
        height: 160px;
        background-image: url('../img/ellipse-small.png');
        background-size: 163px; z-index: 3;
        font-size: 13px;
        line-height: 130%;
        background-repeat: no-repeat;
        padding-left: 5px;
        margin-bottom: 50px;
    }
    .towho__container{
        padding: 30px 17px 0;
        gap:0;
    }
    .towho__text:first-child{
        margin-left: 0;
    }
    .towho__text:nth-child(even){
        width: 145px;
        height: 150px;
        top:100px;
        background-size: 150px; z-index: 3;
    }
    .towho .container{
        overflow:visible;
    }
    .mobile__breakers{
        display: inline;
    }
    .about{
        margin-top: 60px;
        width: 350px;
    }
    .about__wrapper{
        margin-top: 30px;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .about__descr{
        font-size: 16px;
        width:auto;
    }
    .about__container__left{
        width: 100%;
        justify-content: center;
    }
    .about__container__left img{
        width: 327px;
        position: absolute;
        top: 380px
    }
    .about__button{
        position: absolute;
        top:460px
    }
    .about__cross{
        width: 100%;
        margin: 45px 0 190px;
    }
    .about__cross__elem{
        width: 166px;
        height: 112px;

        background-size: 100%;
        background-repeat: no-repeat;
    }
    .about__cross__elem_title{
        font-size: 21px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 7px;
    }
    .about__cross__elem_descr{
        font-size: 15px;
    }
    .coaches{
        margin-top: 100px;
    }
    .coaches__cards{
        height: auto;
        margin-top: 30px;
    }
    .coaches__card{
        width: 240px;
        height: 220px;
    }
    .coaches__card__title{
        font-size: 17px;
        justify-content: flex-start;
        gap: 10px;
    }
     .card__img img{
        width: 50px;
        height: 50px;
    }
    .coaches__card .coaches__card__descr{
        font-size: 14px;
        line-height: 120%;
    }

    .coaches__descr{
        background: none;
        padding-left:0px;
        position: relative;
        justify-content: flex-start;
        text-align: left;
        left: 0;
        top: 0; 
        width: 100%;
        line-height: 130%;
        font-size: 16px;
    }
    .coaches__descr br{
        display: none;
    }
    .coaches__card_sidecard{
        display: none;
    }
    .line{
        display: none;  
    }

    .learn{
        overflow: hidden;
        position: relative;
        padding: 60px 0 0;
        background:none;
        margin-top: 40px;
        height: 616px;
        width:350px;
    }
    .learn__bg{
        display: none;
    }
    .learn .container{
        overflow: visible;
    }
    .learn__bg__mobile{
        display: block;
        position: absolute;
        top: -55px;
        left:-185px;
        z-index: -1;
    }
    .learn__descr{
        font-size: 16px;
        width: 95%;
        position: relative;
    }
    .learn__container{
        width: 100%;
        margin-top: 30px;    
        position: relative;
    }
    .learn__incl__title{
        font-size: 22px;
        margin-bottom: 30px;    
        position: relative;
    }
    .learn__incl__elem{
        font-size: 16px;
    }
    ol li{
        margin-bottom: 13px;
    }
    ol li::before {
        width: 36px;
        height: 36px;
        line-height: 130%;
        font-size: 27px;
    }

    .review{
        margin-top: 60px;
    }
    .review__card{
        width: 250px;
        height: 213px;
        line-height: 150%;
        background-image: url("../img/bg/card-mobile.png");
        background-repeat: no-repeat;
        padding: 20px 25px;

    }
    .review__elem{
        font-size: 17px;
        justify-content: center;
        margin: 30px 0;
    }
    .review__container{
        display: flex;
        justify-content: center;
    }
    .review__descr{
        width: 100%;
        font-size: 16px;
    }

    .prev{
        position: absolute;
        width: 28px;
        height: 35px;
        top: 27%;
        left: 0;
        background-image: url("../img/buttons/prev-mobile.svg");
        background-repeat: no-repeat;
    }
    .next{
        position: absolute;
        width: 28px;
        height: 35px;
        top: 27%;
        right: 0;
        background-image: url("../img/buttons/next-mobile.svg");
        background-repeat: no-repeat;
    }
    .rocket{
        background: none;
        height: 390px;
        width:350px;
        padding-top: 60px;
        margin: 0 auto;
    }
    .rocket__bg{
        display: none;
    }
    .rocket__bg__mobile{
        display: block;
        position: absolute;
        top: -20px;
        left: 0px;
        z-index: -1;
        width: 349px;
    }
    .rocket .container{
        margin: 0;
        padding-left: 10px;
        padding-top: 0;
        justify-content: flex-start;
        overflow: visible;
    }
    .rocket button{
        width: 198px;
        font-size: 18px;
    }
    .rocket__title{
        text-align: left;
        width: 220px;
        margin-bottom: 0px;
    }
    .footer__wrapper{
        height: 400px;
        width: 350px;
        overflow: hidden;
        margin: 0 auto;
    }
    .footer{
        /* height:332px; */
        margin: 0 auto;
        padding-bottom: 0;
    }
    .footer .container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 6px;
        overflow: visible;
        justify-content: flex-start;    
    }
    .footer__bg{
        display: none;
    }

    .footer__bg__mobile{
        position: absolute;
        display: block;
        left:-390px;
        top: -100px;
        z-index: 2;
    }

    .footer__elem{
        padding: 0;
        gap: 7px;
        width: 40%;
        align-content: flex-start;
    }
    .footer__elem__title{
        font-size: 13px;
        height: 20px;
    }
    .footer__elem__link{
        font-size: 13px;
    }
    .footer__elem__title__img{
        width: 20px;
    }
    
}