@font-face {
    font-family: 'Rubik-one';
    src: local('../fonts/Rubik One Regular'), local('../fonts/Rubik-One-Regular'),
        url('../fonts/RubikOne-Regular.woff2') format('woff2'),
        url('../fonts/RubikOne-Regular.woff') format('woff'),
        url('../fonts/RubikOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('../fonts/Rubik-Bold'), local('../fonts/Rubik-Bold'),
        url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: local('../fonts/Rubik-Regular'), local('../fonts/Rubik-Regular'),
        url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



