*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button:hover{
    cursor: pointer;
}
body{
    background-color: #000;
    font-family: 'Rubik';
    font-weight: 400;
}
a{
    text-decoration: none;
}

.container{
    width: 1680px;
    margin: 0 auto;
}
.wrapper{
    position: relative;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
    align-items: center;
}


.header__menu ul{
    display: flex;
    margin-left: 300px;
}

.header__menu li a{
    color:#fff;
    display: block;
    margin-right: 148px;
    font-weight: 500;
}

button{
    box-sizing: content-box;
    width: 264.41px;
    height: 72.52px;
    position: relative;
    background: #FFF084;
    border: 5px solid #000000;
    font-family: 'Gloria Hallelujah';
    font-size: 25px;
    line-height: 128%;
    text-align: center;
    color: #000000;
}
button::after{
    content: '';
    width: 263.38px;
    height: 71.58px;
    top: 10px;
    right: -10px;
    position: absolute;
    background: #FFFFFF;
    z-index: -1;
}

.header__bg{
    display: block;
    width: 100%;
    
    margin-top: 45px;
}

.welcome{
    margin-top: 180px;
    padding-bottom: 200px;
}

.welcome__title{
    font-family: 'Bangers';
    font-size: 85px;
    line-height: 90px;
    color: #FFFFFF;
    margin-left: 10px;
}

.welcome__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 75px;
}


.welcome__text{
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    width: 701px;
}
.social{
    display: flex;
}
.social__item{
    /* z-index: 1; */
    position: relative;
    margin-right: 50px;
    width: 91.34px;
    height: 91.34px;
    border: 1.89842px solid #FFFFFF;
    border-radius: 11.3905px;   
    text-align: center;
    padding-top: 20px;
    background: #000000;

}
.social__item::after{
    content: "";
    position: absolute;
    width: 91.34px;
    height: 91.34px;
    left: 2px;
    top: 2px;
    z-index: -1;
    overflow: hidden;
    border: 1.89842px solid #FFFFFF;
    border-radius: 11.3905px;
}


.welcome__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 264px;
}

.divider{
    border: 6px solid #FFFFFF;
    width: 100%;
    border-left: none;
    border-right: none;
    height: 124px;
    display: flex;
    align-items: center;

}

.divider__inner{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 104px;
    background: #DCDCDC;
}
.divider__text{
    font-family: 'Bangers';
    font-size: 85px;
    line-height: 90px;

}
.divider__img{
    position: absolute;
    right: 125px;
    top: -70px;
}
.divider__inner .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.worldsFirst{
    padding-top: 120px;

}
.worldsFirst__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}
.worldsFirst__text{
    width: 660px;
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    padding-top: 20px;
}

.heroes{
    padding-top: 120px;
    padding-bottom: 180px;
}
.heroes__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}
.heroes__item{
    display: flex;
    flex-direction: column;
    position: relative;
}
.heroes__item:nth-child(3) .br{
    position: absolute;
    bottom: -60px;
}
.heroes__item:last-child .br{
    position: absolute;
    bottom: -60px;
}

.heroes__title{
    margin-top: 100px;
    font-family: 'Gloria Hallelujah';
    font-size: 55px;
    line-height: 73px;
    color: #FFFFFF;
}
.heroes__title span{
    font-family: 'Gloria Hallelujah';
    margin-right: 50px;
    font-size: 144px;
    line-height: 73px;
    color: #FFDB89;
}
.heroes__img{
    margin-top: 46px;
}

.roadmap{
    padding: 80px 0 226px;
}
.roadmap__wrapper{
    height: 1835px;
    position: relative;
    background: no-repeat url('../img/index/bubble.svg') center center/cover;
}
.roadmap__item:first-child{
    padding-top: 150px;
}
.roadmap__item{

    margin-left: 286px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}
.roadmap__chest{
    margin-right: 66px;
}

.roadmap__text{
    font-size: 30px;
    line-height: 45px;
    width: 850px;
}

.roadmap__hero{
    position: absolute;
    right: -70px;
    bottom: -60px;
}

.team__wrapper{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.team__wrapper:nth-child(2){
    justify-content: center;
}
.team__item{

    display: flex;
    flex-direction: column;
    width: 323px;
    margin-left: 128px;
}
.team__item:first-child{
    margin-left: 0;
}
.team__descr{
    font-family: Gloria Hallelujah;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 28px;
}


.faq__wrapper{
    margin-top: 154px;
    transition: 1s all;
    
}

.faq__title{
    font-size: 36px;
    line-height: 60px;
    color: #FFFFFF;
    margin: 26px 0;
}
.faq__text{
    margin-left: 22px;
    padding: 45px 88px;
    background: no-repeat url('../img/index/answer.svg') center center/cover;
    width: 1474px;
    height: 153px;
}
.faq__line{
    display: block;
    width: 1679px;
    height: 3px;
    background-color: #FFFFFF;
}

.faq__descr{

    display: flex;
    font-size: 30px;
    line-height: 36px;
    color: #000000;    
    margin-bottom: 26px;
}

.faq__item{

    position: relative;
}
.expand span{
    transition: 1s all;
}
.expand span:first-child{
    top: 27px;
    right: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
}
.expand span:last-child{
    top: 27px;
    right: 0;
    position: absolute;
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transform: rotate(90deg);
}

.rotated span:first-child{
    transform: rotate(45deg);
}
.rotated span:last-child{
    transform: rotate(-45deg);
}

.hidden{
    display: none;
}

.footer{
    height: 480px;
    margin-top: 330px;
    position: relative;
    padding-bottom: 93px;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.footer__social {
    width: 769px;
    height: 279px;
    padding: 0 93px;
    margin-left: 20px;
    background-color: #DCDCDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__social .social__item{
    /* z-index: 1; */
}
.footer__social .social__item::after{
    display: none;
}

.footer__social-outter{
    margin-top: 90px;
    padding: 7px;
    width: 819px;
    height: 319px;
}

.footer__img{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -2;
}
.outter{    
    position: absolute;
    width: 920px;
    top: 80px;
    right: 0px;
    z-index: -1;
    overflow: hidden;

}
.outter img{
    overflow: hidden;
}
